
.vs/slnx.sqlite
.vs/healthcare-inglish-2023/config/applicationhost.config
.vs/healthcare-inglish-2023/FileContentIndex/bbf555a6-1428-4295-bb87-0b3cae7aad5b.vsidx
.vs/healthcare-inglish-2023/FileContentIndex/02392cc8-9c8b-4387-a432-1bf95d2fea32.vsidx
.vs/healthcare-inglish-2023/FileContentIndex/fa78f35a-53d2-449e-948d-27a156d59504.vsidx
